@page "/"
@using blazor_server_dashboard.Data.Models;
@using blazor_server_dashboard.Services;

@inject TaskService taskService;
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<CascadingValue Value="@tasks">
    <div class="container">
        <h1>4th Quarter Goals</h1>
        <section>
            <DashboardTiles />
        </section>
        <section>
            <h3>Tracker list</h3>
            <div class="d-flex justify-content-start mb-3">
                <button class="btn btn-primary" @onclick="NavigateToFormPage">Add +</button>
            </div>
            <QuickGridData />
        </section>
    </div>
</CascadingValue>

@code {
    public IQueryable<TaskModel>? tasks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var taskList = await taskService.GetAllTasksAsync();
        tasks = taskList.AsQueryable();
    }

    private void NavigateToFormPage()
    {
        NavigationManager.NavigateTo("/form"); // Change "/form" to the actual URL of your form page
    }
}