@page "/"
@using blazor_server_dashboard.Data.Models;

<PageTitle>Index</PageTitle>

<CascadingValue Value="@mockData">
    <div class="container">
        <h1>Dashboard</h1>
        <section>
            <DashboardTiles />
        </section>
        <section>
            <QuickGridData />
        </section>
    </div>
</CascadingValue>

@code {
    public IQueryable<MockData> mockData = new[]
    {
        new MockData(1, "Item description goes here.", "Neil Ranada", "Katelyn Pham", "Low", DateTime.Now, null, new DateOnly(1985, 3, 16)),
        new MockData(2, "Item description goes here.", "Neil Ranada", "Vann Diego", "Low", DateTime.Now, null, new DateOnly(1985, 3, 16)),
        new MockData(3, "Item description goes here.", "Keisha Weiland", "Katelyn Pham", "Medium", DateTime.Now, null, new DateOnly(1985, 3, 16)),
        new MockData(4, "Item description goes here.", "Neil Ranada", "Billy Dietz", "Medium", DateTime.Now, null, new DateOnly(1985, 3, 16)),
        new MockData(5, "Item description goes here.", "Keisha Weiland", "Diane Basham", "High", DateTime.Now, null, new DateOnly(1985, 3, 16)),
        new MockData(6, "Item description goes here.", "Neil Ranada", "Tammy Wescott", "Medium", DateTime.Now, null, new DateOnly(1985, 3, 16)),
        new MockData(7, "Item description goes here.", "Grace Hopper", "Cobie Encinas", "Low", DateTime.Now, null, new DateOnly(1985, 3, 16))
    }.AsQueryable();
}