@page "/"

<PageTitle>Index</PageTitle>

<h1>Hi working on updating this dashboard. In the meantime, enjoy looking at these dogs...</h1>

<div class="container d-flex flex-wrap">
    @if (dogsUrl == null)
    {
        <h3>Fetching dog photos...</h3>
    }
    else
    {
        foreach (var dog in dogsUrl)
        {
            <div class="col-md-4">
                <img src="@dog.message" class="img-fluid" alt="Dog" />
            </div>
        }
    }
</div>

@code {
    public HttpClient httpClient = new();
    private List<Dog> dogsUrl = new();

    protected override async Task OnInitializedAsync()
    {
        for (int i = 0; i < 9; i++)
        {
            var dogDataResponse = await httpClient.GetFromJsonAsync<Dog>("https://dog.ceo/api/breeds/image/random");

            if (dogDataResponse != null)
            {
                dogsUrl.Add(dogDataResponse);
            }
        }
        
    }

    class Dog
    {
        public string? message { get; set; }
        public string? status { get; set; }

    }
}