@page "/"
@using blazor_server_dashboard.Data.Models;
@using blazor_server_dashboard.Services;
@inject TaskService taskService;

<PageTitle>Index</PageTitle>

<CascadingValue Value="@tasks">
    <div class="container">
        <h1>4th Quarter Goals</h1>
        <section>
            <DashboardTiles />
        </section>
        <section>
            <h3>Tracker list</h3>
            <QuickGridData />
        </section>
    </div>
</CascadingValue>

@code {
    public IQueryable<TaskModel>? tasks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var taskList = await taskService.GetAllTasksAsync();
        tasks = taskList.AsQueryable();
    }
}