@page "/"
@using blazor_server_dashboard.Data.Models;
@using blazor_server_dashboard.Services;
@inject TaskService taskService;

<PageTitle>Index</PageTitle>

<CascadingValue Value="@tasks">
    <div class="container">
        <h1>4th Quarter Goals</h1>
        <section>
            <DashboardTiles />
        </section>
        <section>
            <h3>Tracker list</h3>
            <QuickGridData />
        </section>
    </div>
</CascadingValue>

@code {
    public IQueryable<TaskModel>? tasks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var taskList = await taskService.GetAllTasksAsync();
        tasks = taskList.AsQueryable();
    } 

    // public IQueryable<TaskModel> tasks = new[]
    // {
    //     new TaskModel(1, "Sign security agreements", "Neil Ranada", "Katelyn Pham", "Low", DateTime.Now, null, new DateOnly(2023, 11, 16)),
    //     new TaskModel(2, "Review code", "Neil Ranada", "Neil Ranada", "Low", DateTime.Now, null, new DateOnly(2023, 11, 16)),
    //     new TaskModel(3, "Complete cybersecurity training", "Keisha Weiland", "Katelyn Pham", "Medium", DateTime.Now, new DateOnly(2023, 10, 01), new DateOnly(2023, 11, 16)),
    //     new TaskModel(4, "Audit security program", "Neil Ranada", "Billy Dietz", "Medium", DateTime.Now, new DateOnly(2023, 10, 02), new DateOnly(2023, 11, 20)),
    //     new TaskModel(5, "Fix security vulnerability", "Keisha Weiland", "Diane Basham", "High", DateTime.Now, new DateOnly(2023, 10, 03), new DateOnly(2023, 11, 20)),
    //     new TaskModel(6, "Review and approve security plan", "Neil Ranada", "Tammy Wescott", "Medium", DateTime.Now, null, new DateOnly(2023, 12, 05)),
    //     new TaskModel(7, "Find bugs", "Grace Hopper", "Neil Ranada", "Low", DateTime.Now, new DateOnly(2023, 10, 02), new DateOnly(2023, 12, 15))
    // }.AsQueryable();
}